
body{
    background-color: black;
}
.logo{
    width: 15%;
    display: block;
    margin: auto;
    position: 9;
   
}
.cor-log{
    background-color: black;
}

a{
    color: white;
}
nav.menu-later{/*barra preta do menu lateral*/
    background-color: black;
    box-shadow: 5px 0 0 rgb(255, 255, 255);
    height: 100%;
    top: 10px;
    left: 0;
    width: 0px;
    padding: 0px 50px 60px 1%;
    position: fixed;
    overflow: hidden;
    transition: 0.5s;
}nav.menu-later:hover{
    width: 200px;

}
nav.menu-later:hover p.txt-menu{
    display: inline;
    margin: 5%;
}
ul.lista-menu{
 
    height: 100%;
    list-style-type: none;
}ul li.menu a{/*toda a parte de icones do menu lateral*/
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    padding: 40px 4%;
    display: flex;
    margin-bottom: -10px;
    display: flex;
    line-height: 30px;
}ul li.menu a .nome{/*parte dos nome dos icones*/
    margin-left: 24px;
}ul li.menu a .icone{
    font-size: 17px;
}ul li.menu:hover {
    background-color: grey;
    width: 200px;
    height: 100px;
    position: center;
}ul li.menu{
    transition: 0.5s;
}
ul li.menu:last-child{
    position: absolute;
    bottom: 10%;
    
}
ul li.menu:hover .icon-traje{
    width: 60%;
    transition: 0.5s;
}
.txt-menu{
    display: none;
    transition: 0.5s;
}

.batman-classico{
    width: 25%;
    margin-left: 70%;
}
.trajes{
    margin-left: 44%;
    font-size: 600%;
    color: rgb(255, 255, 255);
}

 .bat{
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin-left: 0%;
    margin-top: 0px;
}
 .bt-cl{
    color: rgb(255, 255, 255);
    margin-left: 0%;
    margin-top: -400px;
    font-size: 40px;
} 
.classico{
  background-color: #808080; /* Cor cinza */
  width: 850px; /* Largura do quadrado */
  height: 400px; /* Altura ajustada ao conteúdo */
  padding: 50px; /* Espaçamento interno */
  margin-left: 46% ; /* Centraliza o contêiner horizontalmente */
  margin-top: 1%;
  border-radius: 10px; /* Opcional: bordas arredondadas */
  
    
}
.batman-justice{
    width: 25%;

}
.traje-li{
    color: rgb(255, 255, 255);
    font-size:40px;
    margin-left: 23%;
    margin-top: -450px;
}
.traje-li2{
    color: rgb(255, 255, 255);
    font-size:25px;
    margin-left: 26%;
}
.justiça{
    background-color: #808080; /* Cor cinza */
  width: 850px; /* Largura do quadrado */
  height: 400px; /* Altura ajustada ao conteúdo */
  padding: 50px; /* Espaçamento interno */
  margin-left: 1% ; /* Centraliza o contêiner horizontalmente */
  margin-top: 1%;
  border-radius: 10px; /* Opcional: bordas arredondadas */
  
}
.texto-traje{
    margin-left: 5%;
    font-size: 26.5px;
}
.icon-traje{
    width: 48px;
    transition: 0.5s;
}
h2{
    margin-left: 5%;
}
.icon-vilao{
    
    width: 48px;
    transition: 0.5s;
    margin-left: -8px;
}
.icon-robin{
    margin-left: -15px;
}
.icon-hq{
    margin-left: -8px;
}
.icon-login{
    width: 45px;
}