
body{
    background-color: black;
}
.logo{
    width: 15%;
    display: block;
    margin: auto;
   
}
.cor-log{
    background-color: black;
}


h1{
    margin-left: 4%;
    color: rgb(255, 166, 0);
}


h2{
    color: yellow;
    margin-left: 5%;
}
a{
    color: yellow;
}
nav.menu-later{/*barra preta do menu lateral*/
    background-color: black;
    box-shadow: 5px 0 0 rgb(236, 253, 0);
    height: 1000px;
    top: 10px;
    left: 0;
    width: 0px;
    padding: 0px 40px 50px 1%;
    position: fixed;
    overflow: hidden;
    transition: 0.5s;
}nav.menu-later:hover{
    width: 100px;
}
ul{
    height: 100%;
    list-style-type: none;
}ul li.menu a{/*toda a parte de icones do menu lateral*/
    color: rgb(229, 255, 0);
    text-decoration: none;
    font-size: 20px;
    padding: 40px 4%;
    display: flex;
    margin-bottom: -10px;
    display: flex;
    line-height: 30px;
}ul li.menu a .nome{/*parte dos nome dos icones*/
    margin-left: 24px;
}ul li.menu a .icone{
    font-size: 17px;
}ul li.menu:hover{
    background-color: grey;
    width: 200px;
    height: 100px;
    position: center;
}ul li.menu{
    transition: 0.5s;
}
.batman-classico{
    width: 18%;
    margin-left: 10%;
}
.trajes{
    text-align: center;
    font-size: 600%;
}
.bat{
    font-size: 200%;
    color: white;
    margin-left: 14%;
}
